@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: skyblue;
    padding: 1rem;
}

.container {
    background-color: #fff;
    border-radius: 1em;
    padding: 1em 2em;
    width: 100%;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 .1em .5em rgba(0, 0, 0, 0.3);
}

h3 {
    font-size: 1.3rem;
    opacity: .5;
    margin: 0 0 .5em;
}

.jokeText {
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 1em;
    margin: 0 0 1em;
}

.btn {
    background-color: skyblue;
    border-radius: 1em;
    font-size: .8rem;
    padding: 1em 2em;
    border: none;
    color: #fff;
    box-shadow: 0 .1em .5em rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    transform: scale(.95);
    outline: none;
}